* {
    padding: 0;
    margin: 0;
}


.wrap {
    height: 100vh;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #faf;
    text-align: center;
    line-height: 300px;
    font-size: 70px;
    margin: 5px;

}

.box-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #aff;
    text-align: center;
    line-height: 300px;
    font-size: 70px;
}