* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

ul {
    font-size: 0;
    /* 彈性布局 */
    display: flex;
}

li {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    font-size: 70px;
    background-color: skyblue;
    text-align: center;
    line-height: 95px;
}